body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.br-25{
  border-radius: 25px;
}
.bg-btn{
  background-color: #00afcf !important;
}

.bg-btn:hover{
  background-color: #005dbc !important;
}

.bg-container{
  background-color: #00afcf !important;
}

.h-100vh{
  height: 100vh !important;
}